# Vendor files
# ------------

/node_modules
/vendor
/kirby

# Package managers
# ------------

package-lock.json

# Test files
# ------------
.phpunit.result.cache
.php-cs-fixer.cache
/coverage.xml

# System files
# ------------

Icon
.DS_Store

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# Development files
# ------------
/media
/plans
/.env
/.ddev/.env

# Kirby development runtime
# ------------
/content/checkout/
/content/checkout-settings/
/content/orders/
/content/_drafts/stripe-checkout-orders/
/content/_drafts/stripe-checkout-settings/

/site/accounts/
/site/cache/
/site/config/config.local.php
/site/config/config.*.local.php
/site/config/env.php
/site/logs/
/site/sessions/
