# Vendor files
# ------------

/node_modules
/vendor
/kirby

# Package managers
# ------------

package-lock.json

# Test files
# ------------
.phpunit.result.cache
.php-cs-fixer.cache

# System files
# ------------

Icon
.DS_Store

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# Development files
# ------------
/media
/plans
/.env
/.ddev/.env

# Kirby development runtime
# ------------
/content/checkout/
/content/checkout-settings/
/content/orders/
/content/stripe-orders/*
!/content/stripe-orders/orders.txt

/site/accounts/
/site/cache/
/site/config/config.local.php
/site/config/config.*.local.php
/site/logs/
/site/sessions/
