includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	level: max
	phpVersion: 80200
	paths:
		- index.php
		- tests
	reportUnmatchedIgnoredErrors: true
