includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	level: max
	phpVersion: 80200
	paths:
		- config
		- index.php
		- src
		- tests
		- tools/PhpCsFixer
	reportUnmatchedIgnoredErrors: true
