<?xml version="1.0" encoding="UTF-8"?>

<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="tests/bootstrap.php"
  colors="true"
  stopOnError="true"
>
  <php>
    <ini name="memory_limit" value="-1" />
    <ini name="error_reporting" value="-1" />
    <ini name="log_errors_max_len" value="0" />
    <ini name="zend.assertions" value="1" />
    <ini name="assert.exception" value="1" />
    <ini name="xdebug.show_exception_trace" value="0" />
  </php>

  <source>
    <include>
      <directory suffix=".php">config</directory>
      <directory suffix=".php">src</directory>
      <file>helpers.php</file>
      <file>index.php</file>
    </include>
  </source>

  <testsuites>
    <testsuite name="Plugin Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Plugin Integration">
      <directory>tests/Integration</directory>
    </testsuite>
  </testsuites>
</phpunit>
